.imghead{
    display: flex;
    align-items: center;
    justify-content: center;

}
.modal-body{
    padding: 0;
}
.modal-header {
    
    position: fixed;
    /* left: 0%; */
    background-color: white;
    right: 60px;
    width: 50px;

}
.modal-content {
    background-color: transparent;
    border: 0;
}