.imghead{
    display: flex;
    align-items: center;
    justify-content: center;

}
.modal-body{
    padding: 0;
}
.modal-header {
    position: fixed;
    right: 60px;
    border: 0;
    color: white;

    border-radius: 10px;

}
button.btn-close {
    /* border-radius: 10px; */
    margin: 0 auto;
    
}
.modal-header {
    margin: 0 auto;
}
.modal-title.h4 {
    
    margin: 0 auto;
}
button.btn-close {
    margin: 0 auto;
}
.modal-content {
    background-color: transparent;
    border: 0;
}
.swiper {
    z-index: 0;
}
.imghead img {
    width: -webkit-fill-available;
}