div#mapreacg-sec {
    padding-bottom:60px;
    /* padding-top: 60px; */
    margin: 60px 0px;
    
}

#mapreacg-sec{
    background-image: url(../Components/images/reachmap-bgnew.png);
     background-position: right !important;
     width: 100%;
     background-size: auto;
     background-repeat: no-repeat;
     
 }
.map-sec1{
   background-color:#e5f6f0;
    background-position: center;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 1px 0px;
    /* margin: 40px 0px; */
    
}
.reach-map {
    display: flex;
    justify-content: space-between;
    grid-gap: 60px;
    padding-top: 60px;
    
    
    
}
.reach-right .tab-rt{
    padding-top: 30px;
    width: 80%;
    
}
.reach-right .tab-content {
    width: 70%;
    
}
h3.mob-maptitle {
    text-align: center;
    display: none;
    
}
section#react-map h3 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 45px;

}
section#react-map{
    padding-bottom: 70px;
    padding-top: 70px;
    
}
.reach-right h3{
    color: #fff;
}
.reach-right h4{
    color: #fff;
    letter-spacing: normal;
}



/* tab start */
.tab-rt .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: #e7e7e7 !important;
    border-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    border-radius: 0px;
    
}
.reach-right ul.mb-3.tab-rt.nav.nav-tabs {
    border: none;

}
.tab-rt ul.mb-3.tab-rt.nav.nav-tabs {
    display: flex;
    justify-content: space-between;
}
.tab-rt ul.mb-3.tab-rt.nav.nav-tabs {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e7e7e7;
    border-radius: 0px;
}
.tab-rt li.nav-item {
    border: 1px solid #e7e7e7;
    border-radius: 0px;
}
.tab-rt .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: #e7e7e7 !important;
    border-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    border-radius: 0px;
    color: #1d1d1d !important;
    
}
.right-content .nav-link:hover {
    color: #1d1d1d;
}
.reach-right .tab-content>.active {
    box-shadow: 0px !important;
    padding: 0px;
    font-family: 'Red Hat Display', sans-serif;
}
.right-content .table>tbody {
    vertical-align: inherit;
    font-family: 'Red Hat Display', sans-serif;
    border: 1px solid #f2f2f2;
}
.right-content tr {
    border-bottom: none;
    border-top: 0;
}
.right-content th {
    width: 65%;
}
.right-content td:last-child {
    text-align: center;
}
.right-content th:last-child {
    text-align: center;
}
.table>tbody {
    vertical-align: inherit;
    font-family: 'Red Hat Display', sans-serif;
    border: 1px solid #f2f2f2;
}
.tab-rt thead tr th {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #1d1d1d;
    background-color: #c9d75f;
    border: 1px solid #c9d75f;
}
.tab-rt .nav-link {
    width: 100%;
    border-radius: 0px;
    font-size: 16px;
    color: #1d1d1d;
    line-height: 25px;
    text-transform: capitalize;
    font-family: 'Red Hat Display', sans-serif !important;
    font-weight: normal;
}
.right-content thead {
    background: #e7e7e7;
}
.tab-rt td {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Red Hat Display', sans-serif !important;
}


.reach-left {
    width: 50%;
    
    
}

.reach-left iframe{
    border: 1px solid #155c37;

}

div#map-container-google-1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reach-right {
    width: 50%;
    
    
}
iframe.reach-ifram {
    width: 100%;
    height: 444px;
}

.extra-ct .categry-tble tr:last-child td {
    border: 0px transparent !important;
}

.table>tbody {
    vertical-align: inherit;
    font-family: 'Red Hat Display', sans-serif;
    border: 0px solid #f2f2f2;
    background-color: white;
}


/* responsive */

@media (max-width:1400px) {
    #mapreacg-sec {
        background-position: right!important;
    }
}
@media (max-width:1200px) {
    #mapreacg-sec {
        background-position: right!important;
        background-image: none;
    }
    .reach-right .tab-rt {
        width: 100%;
    }
    .reach-right .tab-content {
        width: 100%;
    }
    .map-sec1{
        background-color: #154b37;

    }
}


@media (max-width:992px) {
   
    #mapreacg-sec {
        background-position: right!important;
        
        background-image: none;
    }

    .map-sec1{
        background-color: #154b37;

    }

    .right-content th {
        width: 100%;
    }
    div#mapreacg-sec {
        padding-bottom: 60px;
        padding-top: 60px;
    }
}

@media (max-width:776px) {
  
    div#mapreacg-sec {
        padding-top: 0px;
    }

    .map-sec1 {
        background-color:#154b37;
    }
    
    
    .reach-map {
        flex-direction: column-reverse;
        grid-gap: 5px !important;
    }
    .reach-left , .reach-right {
        width: 100%;
    }
    .reach-right h3 {
        text-align: center;
    }
    h3.mob-maptitle {
        display: block;
        padding-bottom: 0px;
        color: #fff;
        margin-bottom: 0px;
    }
    div#mapreacg-sec {
        padding-bottom: 10px;
    
    }
    .reach-right h3 {
        display: none;
    }
    .reach-right .tab-rt {
        padding-top: 0px;
    }
}
@media (max-width:667px) {
    .reach-right .tab-rt {
        padding-top: 0px;
    }
}

@media (max-width:568px) {
    div#mapreacg-sec {
        padding-bottom: 40px;
        padding-top: 10px;
    }
    section#plan-details {
        padding-top: 30px;
    }
    iframe.reach-ifram {
        height: 350px;
    }
    div#mapreacg-sec {
        padding-bottom: 10px;
        padding-top: 0px;
    }
    .reach-map {
        padding-top: 30px;
    }

    h3.mob-maptitle{

        font-size: 30px;
    line-height: 35px;

    }

}

